.tools__wrapper{
    margin-bottom: 90px;
    background-image: url(../../img/backgrounds/Bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.tool__title{
    max-width: 462px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}

.tools__title{
    margin: 0 0 16px;
}

.tool__icon{
    margin-bottom: 30px;
}

.tools__button{
    margin: 60px auto 0;
    text-align: center;
    .button{
        width: 160px;
    }
    @include media-mobile{
        margin-top: 0;
    }
}

.tool__container{
    @include media-tablet{
        flex-wrap: wrap;
        >.tool{
            flex-basis: 43%;
        }
    }
    @include media-mobile{
        >.tool{
            flex-basis: 100%;
            margin-bottom: 47px;
        }
    }
    
}

.tool{
    @include media-tablet{
        text-align: center;
    }
}